<body>
    <!--section>
        <div class="header">
            <img src="/assets/images/wandxlogo.png" alt="">
            <div class="userName">
                <div class="dropdown">
                    <img class="dropbtn" onclick="myFunction() " src="/assets/images/user.jpg" alt="">
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="faq.html">FAQ</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
                <p>User Name</p>
            </div>
            <div class="faq-tabs">
                <button class="tablinks active">
                    <a href="#tab1">Create Token</a>
                </button>
            </div>
        </div>
    </section-->
    <div class="tabcontent">
        <div id="tab1" class="tab active">
          <section class="create-token-holder">
              <div class="token-panel-holder">
                <form>
                    <div class="basic-ip">Basic Inputs</div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Token name</label>
                      <input  class="form-input-holder" type="text" placeholder="Token name" >
                    </div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Token symbol</label>
                      <input  class="form-input-holder" type="text" placeholder="Token symbol" >
                    </div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Decimals</label>
                      <input  class="form-input-holder" type="number" placeholder="Decimals" >
                    </div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Total supply</label>
                      <input  class="form-input-holder" type="number" placeholder="Total supply" >
                    </div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Tokens for advisor vesting</label>
                      <input  class="form-input-holder" type="number" placeholder="Tokens for advisor vesting" >
                    </div>
                    <div class="basic-ip-holder">
                      <label class="form-label">Tokens for team vesting</label>
                      <input  class="form-input-holder" type="number" placeholder="Tokens for team vesting" >
                    </div>
                    <div class="basic-ip-holder bottom-line">
                      <label class="form-label">Burnable ( Yes/No )</label>
                      <label class="radio-inline">
                          <input type="radio"  name="burn" value="yes" checked="">
                          Yes
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="burn" value="no" >
                          No
                      </label>
                    </div>
                    <div class="basic-ip-holder align-btn">
                      <a href="create-token2.html" target="_blank" class="confirm-btn" >Submit
                        <i class="right-arrow"></i>
                      </a>
                   </div>
                </form>
              </div>
          </section>
        </div>
    </div>
</body>